.flex-container{
display: flex;
flex-direction: column;
}
div.box{
  max-width: 900px;
}
div.thumbnail {
  min-height: 330px;
  width: 290px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 2px;
}

div.thumbnail:hover {
  border: 1px solid #411877;
  font-size: larger;

}
.desktop{
    display: none;
}
div.caption {
  padding: 15px;
  text-align: center;
}



