a{
    color:black;
    
}
a:hover{
    color: black;
    text-decoration: underline;
    
}
.tour{
    text-decoration: underline;
    
}

.desktop{
    display: none;
}





@media screen and (max-width: 600px) {

.mobile{
    display: none;
}
.desktop{
    display: block;
}
.stick {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:4rem;
    
    font-size: 12px;    
}
li{
    text-decoration: none;
}
}




