a{
    color:black;
    
}
a:hover{
    color: black;
    text-decoration: none;
}




div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: rgb(177, 177, 177);
    width: 200px;
    height: 120px;
   
  }

