

.container{
    
    min-height: 100%;
    background-color: rgb(177, 177, 177);
}
.active{
    font-size: large;
}
footer{
    background-color: lightgrey;
}
ul{
    list-style: none;
}
body{
    background-image:url("space.jpg");
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}
